*.txt
*.pyc*
/.DS_Store
/._.DS_Store
/._pt.json
/._pt.png
/._pt.py
/.persistent_queue_bp.json
/.pq_active-sqlite.db
/.pq_active-sqlite.db.2.bak
/.pq_active-sqlite.db.bak
/.pq_parked-json.json
/.toy_pq_active-sqlite.db
/.vscode
/CINEB
/NEB
/preNEB
/backup
/codes/test
/combined_data.py
/convex_hull_driver.py
/correct_barriers.py
/create_dataset.py
/data
/data.txt
/do_tasks.ipynb
/driver.py
/errors
/export_csv.py
/fixer.py
/for_ivano
/get_data.py
/handler.ipynb
/hex_perovs.tar.gz
/hexag_perovs_done-nebs.py
/mpkey.txt
/nc_geometries
/neb_driver.py
/nebplots.pdf
/new_interface
/new_model
/old_codes
/old_csvs
/plots
/powder_patterns
/pq_active-sqlite.db.bak
/queue.sqlite3
/relaxations
/relax_driver.py
/remove_wavecars.sh
/run_db_update.sh
/rx_geometries
/sankey_v0.1.png
/screening_hps_files.zip
/simple_neb.py
/site_ineq_analysis
/structures
/submit.sh
/update_db_entries.py
/wf_driver.py
/writing.py
/your_database.db
*.err
*.out
codes/inter-neb.py
codes/get_table.py
codes/get_dir.py
codes/error_handler.py
codes/edges_v1.py
codes/create_refs.py
codes/tetrahedra_edges.py
codes/raytracing.py
codes/plot_dos.py
codes/pdos_in_works.py
codes/pdos.py
codes/non_wf_neb.py
codes/neb_ci.py
codes/convert_images.py
codes/cleanup.py
codes/calc_refs.py
codes/test
codes/__pycache__
